#cover{
     border: 2px solid red;
     height: 200px;
     width: 200px;
     margin: 150px;
}
#content{
     height: 200px;
     width: 200px;
     background-color:aqua;
     /* transform: perspective(300px) rotate3d(0, 0, 50, 30deg); */

     /* transform: perspective(300px) translate3d(0px, 0px, -50px); */
     transform: perspective(300px) translate3d(50px, 0px, 0px);
     /* transform: perspective(300px) translate3d(0px, 50px, 0px); */
}