caption{
    border:1px solid black;
    /* caption-side:bottom; */
}
table{
    border: 1px solid black;
    /* sepret value is border collapse by default  */
    /* border-collapse: separate; */
    border-collapse:collapse;

    /* border-spacing: 10px; */

    /* if any box is empty then whose i want to hide then */
    empty-cells:hide;

}

tr{
    border: 1px solid black;
}
th{
    border:1px solid black;
    height:40px;
    padding:15px;
    text-align:right;
}
td{
    border:1px solid black;
    height:30px;
    padding:5px;

    text-align:center;
    /* text-align:right; */
    /* text-align:left; */


    /* vertical-align:bottom; */
    /* vertical-align:top; */
    /* vertical-align:middle; */
}